
/*images*/

.title-image{
    margin-top: 50px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100%;
    height: 400px;
    width: 400px;
    padding: 50px;
}
/*section 1 heading*//**//**/
.big-heading{
    justify-content: center;
    text-align: center;
    padding: 170px 0 0 300px;
    font-family: 'Black Han Sans', sans-serif;
    color: #F6F1F1;
    font-size: 50px;
}
.low-heading{
    padding: 0 0 210px 300px;
    color: #F6F1F1;
    font-size: 30px;

}
h3{
    justify-content: center;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

.profile-section{
    height: 500px;
    background-color: #AFD3E2;
}
/*section2*/
.aboutMe{
    background-color: #F6F1F1;
    color: #146C94;
    text-align: center;
    height: 430px;
}
.amh{
    justify-content: center;
    text-align: center;
    padding: 100px 0 0 0;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
}
.amt{
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
hr{
    margin-top: 50px;
}
#features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
    text-align: center;
  }
  
  .icon {
    margin-top: 70px;
    color: #19A7CE;
    margin-bottom: 2rem;
    
  }
  
  .icon:hover {
    color: #146C94;
  }
  .skill{
    background-color: #F6F1F1;
    color: #146C94;
    height: 350px;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }

/*testimonials*/
  #testimonials {
    background-color: #19A7CE;
  }
  
  .testimonial-text {
    margin-top: 1%;
    margin-left: 2px;
    font-size: 1rem;
    color: #F6F1F1;
    line-height: 1.5;
  }
  .testimonial-image{
    width: 80%;
    margin-left: 10%;
    height: 500px;
  }
  .web{
    margin-left: 40%;
    text-align: center;
    
  }
  
  
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  a{
    margin-left: 0;
  }
  a:link {
    color: #ffff;
  }